@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  --accent-color: orangered;
  --background-color: white;
  --text-color: black;
  --button-text-color: var(--background-color);
  --transition-delay: 1s;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;

  background-color: var(--background-color);
  color: var(--text-color);
  transition: var(--transition-delay);
}

body.dark {
  --accent-color: #d0d066;
  --background-color: #333;
  --text-color: white;
}

.title {
  margin: 0;
  margin-bottom: 1.5rem;
}

.toggle-button {
  background-color: var(--accent-color);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  outline: none;
  transition: var(--transition-delay);
  transform: scale(1);
}

.toggle-button .icon {
  margin-right: 0.5em;
}

.toggle-button:hover,
.toggle-button:focus {
  transform: scale(1.1);
}

.container {
  --rotation: 0;

  position: absolute;
  top: 0;
  height: 200vmin;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(calc(var(--rotation) * 1deg));
  transition: transform var(--transition-delay);
}

.sun,
.moon {
  position: absolute;
  transition: opacity, fill, var(--transition-delay);
  fill: var(--accent-color);
  height: 50px;
  width: 50px;
}

.sun {
  top: 5%;
  opacity: 1;
}

.dark .sun {
  opacity: 0;
}

.moon {
  bottom: 5%;
  opacity: 0;
  transform: rotate(180deg);
}

.dark .moon {
  opacity: 1;
}
